@model Entity.Aluno

@{
    ViewData["Title"] = "Details";
}

@{
    List<ItemEmprestimo> itemEmprestimos = ViewBag.itemEmprestimo;
}

<h2>Detalhes</h2>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CriadoEm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CriadoEm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>

<hr />
<h2>Empréstimo</h2>

<form asp-action="AdicionarLivro">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="Id" name="IdAluno" />
            <div class="form-group" id="Categorias">
                <label>Livros Disponíveis</label>
                <select asp-items="@ViewBag.todosLivros"
                        class="form-control"
                        name="idLivro">
                    <option> -- SELECIONE -- </option>
                </select>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Data Prevista</label>
                <input type="date" name="DataPrevista" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Adicionar" class="btn btn-info" />
    </div>

</form>

<table class="table table-hover table-striped"
        style="margin-top:15px;margin-bottom:15px">
    <thead>
        <tr>
            <th>Data Emprestimo</th>
            <th>Livro</th>
            <th>Locatario</th>
            <th>Data Prevista</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ItemEmprestimo itemEmprestimo in itemEmprestimos)
        {
        <tr>
            <td>@itemEmprestimo.CriadoEm</td>
            <td>@itemEmprestimo.Livro.Nome</td>
            <td>@itemEmprestimo.Funcionario.Nome</td>
            <td>@itemEmprestimo.DataPrevista</td>
            <td>
                <a asp-action="Devolucao" asp-route-id="@itemEmprestimo.Id">Devolver</a>
            </td>
            
        </tr>
        }
        </tbody>
</table>
